.TextScroller {
   box-sizing: border-box;
   display: inline-block;
   overflow: hidden;
   text-align: left;
   vertical-align: bottom;
   border-bottom: 1px solid #fff;
}

.TextScroller > div {
   transition: margin-top 0.5s;
}

.TextScroller span {
   display: block;
}