.NavItem {
   min-width: 100px;
   text-align: center;
}

.NavItem > * {
   display: inline-block;
   line-height: 1.5em;
   font-size: 1.5em;
   text-decoration: none;
   margin: 5px 0;
   transition: color 0.3s;
   font-weight: 100;
}

.NavItem > *.Selected {
   border-bottom: 1px solid #fff;
}