@font-face {
   font-family: 'Rhinos Rocks';
   src: url('/fonts/Rhinos rocks 1.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i');

html, body {
   width: 100%;
   height: 100%;
}

.brand {
   font-family: 'Rhinos Rocks';
}

h1.brand {
   font-size: 3rem;
}

body {
  margin: 0;
  padding: 0;

  background-size: contain;
  background: linear-gradient(135deg, #4568DC, #B06AB3) no-repeat;
}

h1, h2, h3, h4, h5, a, p {
   font-weight: lighter;
   color: #fff;
   font-family: 'Roboto';
}