* {box-sizing: border-box}

html, body {
  margin: 0;
  font-size: 20px;
  height: 100%;
}

body {
  width: 100vw;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #5f2c82, #49a09d) no-repeat;
  color: ivory;
  padding: 1px;
}